<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.buttered-cat.QuickBootHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QuickBootHelper</string>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;com.buttered-cat.QuickBoot&quot; and certificate leaf[subject.CN] = &quot;BC_CODE_SIGNING_IDENTITY&quot;</string>
	</array>
</dict>
</plist>
